<div *ngIf="loaded; else noloaded"></div>
<p-panel header="Ses informations personnelles" [toggleable]="true">
    <div [formGroup]="formGroup">
        <div class="p-field">
            <label>Titre</label>
            <input [attr.disabled]="true" type="text" formControlName="title" class="w-100" pInputText>
        </div>
        <div class="p-field mt-2">
            <label>Nom</label>
            <input [attr.disabled]="true" type="text" formControlName="lastname" class="w-100" pInputText>
        </div>
        <div class="p-field mt-2">
            <label>Prénom</label>
            <input [attr.disabled]="true" type="text" formControlName="firstname" class="w-100" pInputText>
        </div>
        <div class="p-field mt-2">
            <label>Nom d'utilisateur R4N</label>
            <input [attr.disabled]="true" type="text" formControlName="username" class="w-100" pInputText>
        </div>
        <div class="p-field mt-2">
            <label>Date d'anniversaire</label>
            <input [attr.disabled]="true" type="text" formControlName="birthdate" class="w-100" pInputText>
        </div>
        <div class="p-field mt-2">
            <label>Numéro de téléphone</label>
            <input [attr.disabled]="true" type="text" formControlName="phone" class="w-100" pInputText>
        </div>
        <div class="p-field mt-2">
            <label>Rue</label>
            <input [attr.disabled]="true" type="text" formControlName="street" class="w-100" pInputText>
        </div>
        <div class="p-field mt-2">
            <label>Numéro de maison</label>
            <input [attr.disabled]="true" type="text" formControlName="house_number" class="w-100" pInputText>
        </div>
        <div class="p-field mt-2">
            <label>Code postal</label>
            <input [attr.disabled]="true" type="text" formControlName="zip_code" class="w-100" pInputText>
        </div>
        <div class="p-field mt-2">
            <label>Localité</label>
            <input [attr.disabled]="true" type="text" formControlName="city" class="w-100" pInputText>
        </div>
        <div class="p-field mt-2">
            <label>Pays</label>
            <input [attr.disabled]="true" type="text" formControlName="country" class="w-100" pInputText>
        </div>
    </div>
</p-panel>
<p-panel header="Ses informations en jeu" [toggleable]="true" [collapsed]="true">
    <div [formGroup]="formGroup">
        <div class="p-field">
            <label>Nom d'utilisateur en jeu</label>
            <input [attr.disabled]="true" type="text" formControlName="usernameInGame" class="w-100" pInputText>
        </div>
        <div class="p-field mt-2">
            <label>Mon rôle</label>
            <input [attr.disabled]="true" type="text" formControlName="roleGame" class="w-100" pInputText>
        </div>
        <div class="p-field mt-2">
            <label>Mon classement</label>
            <input [attr.disabled]="true" type="text" formControlName="rank" class="w-100" pInputText>
        </div>
    </div>
</p-panel>
<div *ngIf="request.status == 2">
    <div [formGroup]="formGroup">
        <div class="p-field pt-3">
            <label>Message à envoyer à l'utilisateur :</label>
            <textarea class="w-100" cols="5" rows="5" type="text" formControlName="adminMessage" placeholder="Votre message" pInputText></textarea>
        </div>
    </div>
</div>
<div *ngIf="roleId.includes(2) && request.status == 2" class="mt-3 d-flex justify-content-end">
    <p-button label="Valider" (onClick)="requestManagement('Validée')" class="mx-3 custom-button"></p-button>
    <p-button label="Refuser" (onClick)="requestManagement('Refusée')" class="danger-button"></p-button>
</div>
<ng-template #noloaded>
    <div class="loader">
        <img src="../../../../assets/img/loader.gif">
    </div>
</ng-template>