<footer id = "footer">
    <table width = 100%>
        <colgroup>
            <col width = 10%>
            <col width = 45%>
            <col width = 15%>
            <col width = 4%>
            <col width = 4%>
            <col width = 4%>
            <col width = 4%>
            <col width = 4%>
            <col width = 10%>
        </colgroup>
        <tbody>
            <td style="text-align:center">
                <img id="brand" src="../../assets/img/r4n_logo.png" alt="r4n logo" class="mw-100 mh-100"/>
            </td>
            <td id = "explanationText">
                <a href="">Qui sommes-nous?</a><br>
                <a href="">Shop</a><br>
                <a href="">Nos sponsors</a><br>
                <a href="">Nous contacter</a>
            </td>
            <td style = "color: white;">
                NOS RÉSEAUX SOCIAUX 
            </td>
            <td>
                <a href="https://www.instagram.com/r4n_asso/" target= "_blank">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </a>
            </td>
            <td>
                <a href="https://mobile.twitter.com/r4n_asso" target= "_blank">
                    <fa-icon [icon]="faTwitter"></fa-icon>
                </a>
            </td>
            <td>
                <a href="https://www.youtube.com/@requiem4anoob20" target= "_blank">
                    <fa-icon [icon]="faYoutube"></fa-icon>
                </a>
            </td>
            <td>
                <a href="https://www.twitch.tv/r4n_webtv" target= "_blank">
                    <fa-icon [icon]="faTwitch"></fa-icon>  
                </a>          
            </td>
            <td>
                <a href="https://www.discord.com" target= "_blank">
                    <fa-icon [icon]="faDiscord"></fa-icon>     
                </a>
            </td>
        </tbody>
    </table>
</footer>