:host ::ng-deep .p-button {
    text-transform: uppercase !important;
    background-color: #fab710;
    color: black;
    border: none;
    outline: none;
    font-weight: 500;
}     

:host ::ng-deep .p-button:hover {
    background-color: #e2ac21 !important;
    color: black !important;
}     