<div class="d-flex justify-content-between align-items-center mt-3">
    <h2 class="fw-bolder">Mon panier</h2>
</div>
<hr class="title-line">

<p-table [value]="myCart.carts_products" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="caption">
        <div>Résumé de votre panier</div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Nom</th>
            <th>Image</th>
            <th>Prix unitaire</th>
            <th>Quantité</th>
            <th>Sous-total</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.product.label}}</td>
            <td><img [src]="product.product.image_url" [alt]="product.product.label" width="100" /></td>
            <td>{{product.unit_price}} €</td>
            <td>{{product.quantity}}</td>
            <td>{{product.total_price}} €</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div style="display: flex; justify-content: space-between;">
            <div>Il y a {{myCart.carts_products ? myCart.carts_products.length : 0 }} produits différents dans votre panier</div>
            <div>Total du panier : {{cartTotalPrice}} €</div>
        </div>
    </ng-template>
</p-table>

<div class="d-flex justify-content-end mt-3">
    <p-button label="Passer la commande" (onClick)="placeOrder()" styleClass="custom-color"></p-button>
</div>
