<div [formGroup]="formGroup">
    <div class="p-field mt-3">
        <label>Titre</label>
        <input [attr.disabled]="true" type="text" formControlName="title" class="w-100" pInputText>
    </div>
    <div class="p-field mt-3">
        <label>Nom</label>
        <input [attr.disabled]="true" type="text" formControlName="lastname" class="w-100" pInputText>
    </div>
    <div class="p-field mt-3">
        <label>Prénom</label>
        <input [attr.disabled]="true" type="text" formControlName="firstname" class="w-100" pInputText>
    </div>
    <div class="p-field mt-3">
        <label>Nom d'utilisateur</label>
        <input [attr.disabled]="true" type="text" formControlName="username" class="w-100" pInputText>
    </div>
    <div class="p-field mt-3">
        <label>Date d'anniversaire</label>
        <input [attr.disabled]="true" type="text" formControlName="birthdate" class="w-100" pInputText>
    </div>
    <div class="p-field mt-3">
        <label>Numéro de téléphone</label>
        <input [attr.disabled]="true" type="text" formControlName="phone" class="w-100" pInputText>
    </div>
    <div class="p-field mt-3">
        <label>Rue</label>
        <input [attr.disabled]="true" type="text" formControlName="street" class="w-100" pInputText>
    </div>
    <div class="p-field mt-3">
        <label>Numéro de maison</label>
        <input [attr.disabled]="true" type="text" formControlName="houseNumber" class="w-100" pInputText>
    </div>
    <div class="p-field mt-3">
        <label>Code postal</label>
        <input [attr.disabled]="true" type="text" formControlName="zip_code" class="w-100" pInputText>
    </div>
    <div class="p-field mt-3">
        <label>Localité</label>
        <input [attr.disabled]="true" type="text" formControlName="city" class="w-100" pInputText>
    </div>
    <div class="p-field mt-3">
        <label>Pays</label>
        <input [attr.disabled]="true" type="text" formControlName="country" class="w-100" pInputText>
    </div>
    <div class="p-field mt-3">
        <label>Message pour appuyer votre demande (facultatif)</label>
        <textarea class="w-100" cols="5" rows="5" type="text" formControlName="message" placeholder="Votre message" pInputText></textarea>
    </div>
    <div class="mt-3 d-flex justify-content-end">
        <p-button label="Confirmer" (onClick)="save()"></p-button>
    </div>
</div>