<div class="container_margin mt-5">
    <section class="container">
        <div class="left-half border-end border-2 border-dark" style="background-color: #C0C0C0; padding: 1rem; ">
            <h1>Requiem for a noob</h1>
            <p>Association française ayant pour but la promotion d’un eSport inclusif et respectueux, et de créer un événement caritatif annuel au profit d’une cause, de personnes fragiles, ou d’autres associations.</p>
        </div>
        <div class="right-half">
            <img alt="Image de présentation de l'association" class="about-us_img" src="../../assets/img/about-us_esport.jpg">
        </div>
    </section>
    <section class="container">
        <div class="left-half vertical-text border border-2 border-dark" style="background-color: #f3bc30; padding: 1rem">
            <p>A propos de nous</p>
        </div>
        <div class="right-half border-top border-bottom border-end border-2 border-dark" style="background-color: #C0C0C0; flex: 4; padding: 1rem;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deseruntquisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
        </div>
        <div class="right-half border-bottom border-top border-2 border-dark" style="flex: 4;">
            <img alt="Image du staff" class="about-us_img border-left border-2 border-dark" src="../../assets/img/staff1.png">
        </div>
    </section>
    <section class="container">
        <div class="left-half border-bottom border-2 border-dark" style="flex: 4">
            <img alt="Image du staff" class="about-us_img" src="../../assets/img/staff2.png">
        </div>
        <div class="right-half border-start border-end border-bottom border-2 border-dark" style="background-color: #C0C0C0; flex: 4; padding: 1rem;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deseruntquisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
        </div>
        <div class="right-half vertical-text border-bottom border-2 border-dark" style="background-color: #f3bc30; flex: 1;">
            <p class="pt-3">A propos de nous</p>
        </div>
    </section>
    <section class="container">
        <div class="left-half vertical-text border-end border-2 border-dark" style="background-color: #f3bc30; padding: 1rem">
            <p>A propos de nous</p>
        </div>
        <div class="right-half border-end border-2 border-dark" style="background-color: #fff; flex: 4;">
            <img alt="Image du staff" class="about-us_img" src="../../assets/img/staff3.png">
        </div>
        <div class="right-half" style="background-color: #C0C0C0; flex: 4; padding: 1rem;">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deseruntquisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
        </div>
    </section>
    <section class="container container_chiffres border-top border-2 border-dark">
        <div class="left-half chiffres" style="flex: 2; font-size: 30px; font-weight: bolder;">
            <div>Quelques chiffres...</div>
        </div>
        <div class="left-half chiffres" style="flex: 1;">
            <div style="font-weight: bolder; font-size: 30px; text-align: center;">2</div>
            <p style="text-align: center;">Tournois</p>
        </div>
        <div class="left-half chiffres" style="flex: 1;">
            <div style="font-weight: bolder; font-size: 30px; text-align: center;">72</div>
            <div style="text-align: center;">Joueurs accueillis</div>
        </div>
        <div class="left-half chiffres" style="flex: 1;">
            <div style="font-weight: bolder; font-size: 30px; text-align: center;">339</div>
            <div style="text-align: center;">Personnes en live</div>
        </div>
        <div class="left-half chiffres" style="flex: 1;">
            <div style="font-weight: bolder; font-size: 30px; text-align: center;">988</div>
            <div style="text-align: center;">Euros de dons</div>
        </div>
    </section>
</div> 