<div class="custom-bg-dark d-flex align-items-stretch">
    <div class="container_margin">
        <section class="container">
            <div class="left-half border-end border-2 border-dark" style="background-color: #C0C0C0; padding: 1rem; ">
                <h1>Requiem for a noob</h1>
                <p>Association française ayant pour but la promotion d’un eSport inclusif et respectueux, et de créer un événement caritatif annuel au profit d’une cause, de personnes fragiles, ou d’autres associations.</p>
            </div>
            <div class="right-half">
                <img alt="Image de présentation de l'association" class="about-us_img" src="../../assets/img/about-us_esport.jpg">
            </div>
        </section>
        <section class="container">
            <div class="left-half vertical-text border border-2 border-dark" style="background-color: #f3bc30; padding: 1rem">
                <p>Notre mission</p>
            </div>
            <div class="right-half border-top border-bottom border-end border-2 border-dark" style="background-color: #C0C0C0; flex: 4; padding: 1rem;">
                <p>
                    Chez Requiem for a noob, notre mission est claire : favoriser la croissance et le développement de l'eSport amateur en France. Nous croyons en la puissance de la communauté pour inspirer, éduquer et propulser les joueurs vers de nouveaux sommets. Que vous soyez un novice curieux ou un vétéran compétitif, nous avons créé un environnement où chacun peut trouver sa place.</p>
            </div>
            <div class="right-half border-bottom border-top border-2 border-dark" style="flex: 4;">
                <img alt="Image du staff" class="about-us_img border-left border-2 border-dark" src="../../assets/img/staff1.png">
            </div>
        </section>
        <section class="container">
            <div class="left-half border-bottom border-2 border-dark" style="flex: 4">
                <img alt="Image du staff" class="about-us_img" src="../../assets/img/staff2.png">
            </div>
            <div class="right-half border-start border-end border-bottom border-2 border-dark" style="background-color: #C0C0C0; flex: 4; padding: 1rem;">
                <p>
                    <b>Passion : </b>Nous sommes animés par la passion pour les jeux vidéo et l'eSport, et nous encourageons cette passion chez nos membres.<br/><br/>
                    <b>Fair-Play : </b>Nous promouvons un esprit compétitif sain, le respect et l'éthique sportive dans toutes nos activités.<br/><br/>
                    <b>Inclusivité : </b>Chez Requiem for a noob, tout le monde est le bienvenu, quel que soit son niveau de compétence ou son expérience dans le monde de l'eSport.<br/><br/></p>
            </div>
            <div class="right-half vertical-text border-bottom border-2 border-dark" style="background-color: #f3bc30; flex: 1;">
                <p class="pt-3">Nos valeurs</p>
            </div>
        </section>
        <section class="container">
            <div class="left-half vertical-text border-end border-2 border-dark" style="background-color: #f3bc30; padding: 1rem">
                <p>A propos de nous</p>
            </div>
            <div class="right-half border-end border-2 border-dark" style="background-color: #fff; flex: 4;">
                <img alt="Image du staff" class="about-us_img" src="../../assets/img/staff3.png">
            </div>
            <div class="right-half" style="background-color: #C0C0C0; flex: 4; padding: 1rem;">
                <p>Que vous soyez un joueur solo à la recherche de camaraderie, une équipe cherchant à progresser ensemble, ou simplement un fan d'eSport passionné, Requiem for a noob est l'endroit où votre voyage commence. Ensemble, bâtissons un avenir où l'eSport amateur rayonne et inspire.
                    Merci de faire partie de cette communauté florissante chez Requiem for a noob. Nous sommes impatients de partager cette aventure eSportive avec vous !</p>
            </div>
        </section>
        <section class="container container_chiffres border-top border-2 border-dark">
            <div class="left-half chiffres" style="flex: 2; font-size: 30px; font-weight: bolder;">
                <div>Quelques chiffres...</div>
            </div>
            <div class="left-half chiffres" style="flex: 1;">
                <div style="font-weight: bolder; font-size: 30px; text-align: center;">2</div>
                <p style="text-align: center;">Tournois</p>
            </div>
            <div class="left-half chiffres" style="flex: 1;">
                <div style="font-weight: bolder; font-size: 30px; text-align: center;">72</div>
                <div style="text-align: center;">Joueurs accueillis</div>
            </div>
            <div class="left-half chiffres" style="flex: 1;">
                <div style="font-weight: bolder; font-size: 30px; text-align: center;">339</div>
                <div style="text-align: center;">Personnes en live</div>
            </div>
            <div class="left-half chiffres" style="flex: 1;">
                <div style="font-weight: bolder; font-size: 30px; text-align: center;">988</div>
                <div style="text-align: center;">Euros de dons</div>
            </div>
        </section>
    </div> 
</div>