.title-line {
    width: 100%;
    height: 2px;
    background-color: #21b2f5;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
::ng-deep .p-fileupload .p-button {
    background-color: #fab710;
    color: black;
    border: none;
    outline: none;
}

::ng-deep .p-fileupload .p-button:hover {
    background-color: #e2ac21;
    color: black;
}
  
:host ::ng-deep .p-button {
    background-color: #fab710;
    color: black;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
}

:host ::ng-deep .p-button:hover {
    background-color: #e2ac21;
    color: black;
}