<div class="d-flex justify-content-between align-items-center mt-3">
    <h2 class="fw-bolder">Le staff</h2>
    <div class="ml-auto">
        <p-button label="Ajouter un membre au staff" *ngIf="roleId.includes(2)" (onClick)="staffDialog()" styleClass="custom-color mx-3"></p-button>
    </div>
</div>
<hr class="title-line">

<div class="container">
    <div class="row justify-content-center text-center" *ngIf="loaded; else noloaded" style="max-height: calc(100vh - 110px); overflow-y: auto;">
        <div class="col-md-4">
            <div class="card card-style mb-4">
                <p-table [value]="presidentUsers" selectionMode="single" [(selection)]="selectedPresident" dataKey="user" (onRowSelect)="onRowSelect($event, 3)" [tableStyle]="{ 'min-width': '10rem' }">
                    <ng-template pTemplate="caption">Président<fa-icon class="mx-2" [icon]="faCrown"></fa-icon></ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr *ngIf="showPresidentUsers" [pSelectableRow]="user">
                            <td>{{user.username}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-style mb-4">
                <p-table [value]="vicePresidentUsers" selectionMode="single" [(selection)]="selectedVicePresident" dataKey="user.username" (onRowSelect)="onRowSelect($event, 4)" [tableStyle]="{ 'min-width': '10rem' }">
                    <ng-template pTemplate="caption">Vice-présidents<fa-icon class="mx-2" [icon]="faGavel"></fa-icon></ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr *ngIf="showVicePresidentUsers" [pSelectableRow]="user">
                            <td>{{user.username}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-style mb-4">
                <p-table [value]="generalSecretaryUsers" selectionMode="single" [(selection)]="selectedGeneralSecretary" dataKey="user.username" (onRowSelect)="onRowSelect($event, 5)" [tableStyle]="{ 'min-width': '10rem' }">
                    <ng-template pTemplate="caption">Secrétaire générale<fa-icon class="mx-2" [icon]="faBookOpenReader"></fa-icon></ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr *ngIf="showGeneralSecretaryUsers" [pSelectableRow]="user">
                            <td>{{user.username}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-style mb-4">
                <p-table [value]="treasurerUsers" selectionMode="single" [(selection)]="selectedTreasurer" dataKey="user.username" (onRowSelect)="onRowSelect($event, 6)" [tableStyle]="{ 'min-width': '10rem' }">
                    <ng-template pTemplate="caption">Trésorière<fa-icon class="mx-2" [icon]="faSackDollar"></fa-icon></ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr *ngIf="showTreasurerUsers" [pSelectableRow]="user">
                            <td>{{user.username}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-style mb-4">
                <p-table [value]="rhUsers" selectionMode="single" [(selection)]="selectedRh" dataKey="user.username" (onRowSelect)="onRowSelect($event, 7)" [tableStyle]="{ 'min-width': '10rem' }">
                    <ng-template pTemplate="caption">Ressources humaines<fa-icon class="mx-2" [icon]="faUsers"></fa-icon></ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr *ngIf="showRhUsers" [pSelectableRow]="user">
                            <td>{{user.username}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-style mb-4">
                <p-table [value]="marketingUsers" selectionMode="single" [(selection)]="selectedMarketing" dataKey="user.username" (onRowSelect)="onRowSelect($event, 8)" [tableStyle]="{ 'min-width': '10rem' }">
                    <ng-template pTemplate="caption">Responsable communication et marketing<fa-icon class="mx-2" [icon]="faChartLine"></fa-icon></ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr *ngIf="showMarketingUsers" [pSelectableRow]="user">
                            <td>{{user.username}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-style mb-4">
                <p-table [value]="partnerUsers" selectionMode="single" [(selection)]="selectedPartner" dataKey="user.username" (onRowSelect)="onRowSelect($event, 9)" [tableStyle]="{ 'min-width': '10rem' }">
                    <ng-template pTemplate="caption">Responsable partenariats<fa-icon class="mx-2" [icon]="faHandshake"></fa-icon></ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr *ngIf="showPartnerUsers" [pSelectableRow]="user">
                            <td>{{user.username}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-style mb-4">
                <p-table [value]="teamUsers" selectionMode="single" [(selection)]="selectedTeam" dataKey="user.username" (onRowSelect)="onRowSelect($event, 10)" [tableStyle]="{ 'min-width': '10rem' }">
                    <ng-template pTemplate="caption">Responsable des équipes<fa-icon class="mx-2" [icon]="faUsersCog"></fa-icon></ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr *ngIf="showTeamUsers" [pSelectableRow]="user">
                            <td>{{user.username}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-style mb-4">
                <p-table [value]="managerUsers" selectionMode="single" [(selection)]="selectedManager" dataKey="user.username" (onRowSelect)="onRowSelect($event, 11)" [tableStyle]="{ 'min-width': '10rem' }">
                    <ng-template pTemplate="caption">Responsable régie<fa-icon class="mx-2" [icon]="faCogs"></fa-icon></ng-template>
                    <ng-template pTemplate="body" let-user>
                        <tr *ngIf="showManagerUsers" [pSelectableRow]="user">
                            <td>{{user.username}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<ng-template #noloaded>
    <div class="loader">
        <img src="../../../../../assets/img/loader.gif">   
    </div>
</ng-template>