<div class="font custom-bg-dark pb-5">
    <div class="container margin-container">
        <div class="question">
            <p><span style="font-size: 20px; font-weight: bold;">UNE QUESTION ? </span><br/>N'hésitez pas à nous contacter si vous souhaitez plus d'informations concernant l'association. <br/>Nous répondrons dans les plus brefs délais.</p>
        </div>
    </div>
    <div class="nous-trouver">
        <p><span style="font-size: 20px; font-weight: bold;">COMMENT NOUS REJOINDRE ?</span></p>
        <a href="https://www.discord.com" target= "_blank">
            <fa-icon [icon]="faDiscord"></fa-icon>  
            Discord  
        </a><br/>   
        <a href="" target="_blank">
            <fa-icon [icon]="faPhone"></fa-icon>
            0032/476.90.81.69
        </a><br/>
        <a href="" target="_blank">
            <fa-icon [icon]="faEnvelope"></fa-icon>
            requiemforanoob@gmail.com
        </a>
    </div>
    <div class="container form d-flex justify-content-center mt-5">
        <div class="row">
            <div class="col">
                <h2 class="text-center mx-auto">Envoyer nous un message</h2>
                <div [formGroup]="formGroup">
                    <div class="row mt-3">
                        <div class="col">
                            <div class="p-field">
                                <input class="form-control" type="text" formControlName="lastname" placeholder="Votre nom" required pInputText>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-field">
                                <input class="form-control" type="text" formControlName="firstname" placeholder="Votre prénom" required pInputText>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="p-field">
                                <input class="form-control" type="text" formControlName="email" placeholder="Votre adresse mail" required pInputText>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-field">
                                <input class="form-control" type="text" formControlName="phoneNumber" placeholder="Votre numéro de téléphone" required pInputText>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="p-field">
                                <textarea class="form-control" cols="62" rows="5" type="text" formControlName="message" placeholder="Votre message" required pInputText></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p-button class="mt-3 mb-3 text-center mx-auto" label="Envoyer" styleClass="p-button-warning" [loading]="loading" (click)="sendMail()"></p-button>
        </div>
    </div>
    
</div>