<div class="custom-bg-dark d-flex justify-content-center align-items-stretch">
    <div class="container">
        <div class = "row">
            <div class = "col-sm">
                <img src = "./../../assets/img/michealscott.gif">
            </div>
            <div class = "col-sm">
                <p id ="errorText">
                    Malheureusement cette page n'est pas encore finie... Reviens plus tard pour en profiter!
                </p>
            </div>
        </div>
    </div>
</div>