#errorText{
    font-size: 300%;
    color: white;
}

.custom-bg-dark {
    width: 100%;
    height: 72.8vh;
}

@media screen and (max-height: 1000px) {
    .custom-bg-dark {
        height: 65vh;
    }
}