::ng-deep .p-fileupload .p-button {
    background-color: #fab710;
    color: black;
    border: none;
    outline: none;
}

::ng-deep .p-fileupload .p-button:hover {
    background-color: #e2ac21;
    color: black;
}