<div class="d-flex justify-content-between align-items-center mt-3">
    <h2 class="fw-bolder">La boutique</h2>
    <div class="ml-auto">
        <p-button label="Mon panier" (onClick)="goToMyCart()" styleClass="custom-color mx-3"></p-button>
    </div>
</div>
<hr class="title-line">

<p-tabView>
    <p-tabPanel header="Maillots">
        <div class="row justify-content-center text-center">
            <div *ngFor="let product of maillots" class="col-md-4 mb-4">
                <div class="hover-effect" [style]="{ width: '360px' }">
                    <p-card class="hover-effect" header="{{product.label}}">
                        <img [src]="product.image_url" [alt]="product.label" style="width: 200px; height: 200px;">
                        <p><img src="../../../assets/img/nouveaute.png" alt="Nouveauté" style="width: 80px;"></p>    
                        <span class="bold-price">{{product.price}} €</span>
                        <ng-template pTemplate="footer">
                            <p-button label="Voir le produit" (onClick)="goTo(product)" styleClass="custom-color"></p-button>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Vestes">
        <div class="row justify-content-center text-center">
            <div *ngFor="let product of vestes" class="col-md-4 mb-4">
                <div class="hover-effect" [style]="{ width: '360px' }">
                    <p-card class="hover-effect" header="{{product.label}}">
                        <img [src]="product.image_url" [alt]="product.label" style="width: 200px; height: 200px;">
                        <p><img src="../../../assets/img/nouveaute.png" alt="Nouveauté" style="width: 80px;"></p>    
                        <span class="bold-price">{{product.price}} €</span>
                        <ng-template pTemplate="footer">
                            <p-button label="Voir le produit" (onClick)="goTo(product)" styleClass="custom-color"></p-button>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Pulls">
        <div class="row justify-content-center text-center">
            <div *ngFor="let product of pulls" class="col-md-4 mb-4">
                <div class="hover-effect" [style]="{ width: '360px' }">
                    <p-card class="hover-effect" header="{{product.label}}">
                        <img [src]="product.image_url" [alt]="product.label" style="width: 200px; height: 200px;">
                        <p><img src="../../../assets/img/nouveaute.png" alt="Nouveauté" style="width: 80px;"></p>    
                        <span class="bold-price">{{product.price}} €</span>
                        <ng-template pTemplate="footer">
                            <p-button label="Voir le produit" (onClick)="goTo(product)" styleClass="custom-color"></p-button>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="T-shirts">
        <div class="row justify-content-center text-center">
            <div *ngFor="let product of tShirts" class="col-md-4 mb-4">
                <div class="hover-effect" [style]="{ width: '360px' }">
                    <p-card class="hover-effect" header="{{product.label}}">
                        <img [src]="product.image_url" [alt]="product.label" style="width: 200px; height: 200px;">
                        <p><img src="../../../assets/img/nouveaute.png" alt="Nouveauté" style="width: 80px;"></p>    
                        <span class="bold-price">{{product.price}} €</span>
                        <ng-template pTemplate="footer">
                            <p-button label="Voir le produit" (onClick)="goTo(product)" styleClass="custom-color"></p-button>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Pantalons">
        <div class="row justify-content-center text-center">
            <div *ngFor="let product of pantalons" class="col-md-4 mb-4">
                <div class="hover-effect" [style]="{ width: '360px' }">
                    <p-card class="hover-effect" header="{{product.label}}">
                        <img [src]="product.image_url" [alt]="product.label" style="width: 200px; height: 200px;">
                        <p><img src="../../../assets/img/nouveaute.png" alt="Nouveauté" style="width: 80px;"></p>    
                        <span class="bold-price">{{product.price}} €</span>
                        <ng-template pTemplate="footer">
                            <p-button label="Voir le produit" (onClick)="goTo(product)" styleClass="custom-color"></p-button>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Joggings">
        <div class="row justify-content-center text-center">
            <div *ngFor="let product of joggings" class="col-md-4 mb-4">
                <div class="hover-effect" [style]="{ width: '360px' }">
                    <p-card class="hover-effect" header="{{product.label}}">
                        <img [src]="product.image_url" [alt]="product.label" style="width: 200px; height: 200px;">
                        <p><img src="../../../assets/img/nouveaute.png" alt="Nouveauté" style="width: 80px;"></p>    
                        <span class="bold-price">{{product.price}} €</span>
                        <ng-template pTemplate="footer">
                            <p-button label="Voir le produit" (onClick)="goTo(product)" styleClass="custom-color"></p-button>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Chaussures">
        <div class="row justify-content-center text-center">
            <div *ngFor="let product of chaussures" class="col-md-4 mb-4">
                <div class="hover-effect" [style]="{ width: '360px' }">
                    <p-card class="hover-effect" header="{{product.label}}">
                        <img [src]="product.image_url" [alt]="product.label" style="width: 200px; height: 200px;">
                        <p><img src="../../../assets/img/nouveaute.png" alt="Nouveauté" style="width: 80px;"></p>    
                        <span class="bold-price">{{product.price}} €</span>
                        <ng-template pTemplate="footer">
                            <p-button label="Voir le produit" (onClick)="goTo(product)" styleClass="custom-color"></p-button>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Tapis de souris">
        <div class="row justify-content-center text-center">
            <div *ngFor="let product of tapisdesouris" class="col-md-4 mb-4">
                <div class="hover-effect" [style]="{ width: '360px' }">
                    <p-card class="hover-effect" header="{{product.label}}">
                        <img [src]="product.image_url" [alt]="product.label" style="width: 200px; height: 200px;">
                        <p><img src="../../../assets/img/nouveaute.png" alt="Nouveauté" style="width: 80px;"></p>    
                        <span class="bold-price">{{product.price}} €</span>
                        <ng-template pTemplate="footer">
                            <p-button label="Voir le produit" (onClick)="goTo(product)" styleClass="custom-color"></p-button>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Claviers">
        <div class="row justify-content-center text-center">
            <div *ngFor="let product of claviers" class="col-md-4 mb-4">
                <div class="hover-effect" [style]="{ width: '360px' }">
                    <p-card class="hover-effect" header="{{product.label}}">
                        <img [src]="product.image_url" [alt]="product.label" style="width: 200px; height: 200px;">
                        <p><img src="../../../assets/img/nouveaute.png" alt="Nouveauté" style="width: 80px;"></p>    
                        <span class="bold-price">{{product.price}} €</span>
                        <ng-template pTemplate="footer">
                            <p-button label="Voir le produit" (onClick)="goTo(product)" styleClass="custom-color"></p-button>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Casques">
        <div class="row justify-content-center text-center">
            <div *ngFor="let product of casques" class="col-md-4 mb-4">
                <div class="hover-effect" [style]="{ width: '360px' }">
                    <p-card class="hover-effect" header="{{product.label}}">
                        <img [src]="product.image_url" [alt]="product.label" style="width: 200px; height: 200px;">
                        <p><img src="../../../assets/img/nouveaute.png" alt="Nouveauté" style="width: 80px;"></p>    
                        <span class="bold-price">{{product.price}} €</span>
                        <ng-template pTemplate="footer">
                            <p-button label="Voir le produit" (onClick)="goTo(product)" styleClass="custom-color"></p-button>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Chaises">
        <div class="row justify-content-center text-center">
            <div *ngFor="let product of chaises" class="col-md-4 mb-4">
                <div class="hover-effect" [style]="{ width: '360px' }">
                    <p-card class="hover-effect" header="{{product.label}}">
                        <img [src]="product.image_url" [alt]="product.label" style="width: 200px; height: 200px;">
                        <p><img src="../../../assets/img/nouveaute.png" alt="Nouveauté" style="width: 80px;"></p>    
                        <span class="bold-price">{{product.price}} €</span>
                        <ng-template pTemplate="footer">
                            <p-button label="Voir le produit" (onClick)="goTo(product)" styleClass="custom-color"></p-button>
                        </ng-template>
                    </p-card>
                </div>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>

