:host ::ng-deep .p-button {
    background-color: #fab710;
    color: black;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
}

:host ::ng-deep .p-button:hover {
    background-color: #e2ac21;
    color: black;
}

.hover-effect:hover {
    border-radius: 10px;
    border: 4px #fab710 solid;
}

.bold-price {
    font-weight: bold;
}