.title-line {
    width: 100%;
    height: 2px;
    background-color: #21b2f5;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover-effect:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.custom-dialog {
    width: 500px;
}

.custom-dialog .p-dialog-header {
    background-color: #fab710;
}
  
.custom-color {
    background-color: #fab710;
    color: black;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
}

.custom-color:hover {
    background-color: #e2ac21 !important;
    color: black !important;
}