<div class="d-flex justify-content-between align-items-center mt-3">
    <h2 class="fw-bolder">Mon équipe</h2>
    <p-button label="Créer une équipe" *ngIf="this.user.roleId == 2" styleClass="p-button-warning"></p-button>
</div>
<hr class="title-line">
<div class="container">
    <div class="row justify-content-center text-center" *ngIf="loaded; else noloaded"style="max-height: calc(100vh - 110px); overflow-y: auto;">
        <div *ngFor="let team of teams" class="col-md-4 mb-4">
            <div class="border border-1 border-dark hover-effect">
                <p-card header="{{team.team.name}}">
                    <img src="../../../../assets/img/r4n_logo_sm.png" alt="image r4n">
                    <ng-template pTemplate="footer">
                        <p-button label="Entrer" styleClass="p-button-warning fw-bold"></p-button>
                    </ng-template>
                </p-card>
            </div> 
        </div>
    </div>
</div>

<ng-template #noloaded>
    <div class="loader">
        <img src="../../../../assets/img/loader.gif">
    </div>
</ng-template>
