<div class="custom-bg-dark d-flex align-items-stretch">
    <div class="container-fluid font">
        <div class="img-wrapper">
            <img src="../../assets/img/banniere.jpg" style="width:1000px; height:auto" class="d-block mx-auto img-thumbnail img-responsive" alt="bannière r4n">
            <div class="img-overlay mb-2">
                <button routerLink="about-us" pButton pRipple type="button" label="Découvrir l'association" class="p-button-rounded p-button-secondary" icon="pi pi-arrow-right" iconPos="right"></button>
            </div>
        </div>
        <div class="container">
            <p class="title fw-bold mt-3 text-center">Requiem for a noob, association d'esport amateur</p>
            <p class="paragraphe fs-4 text-center">
                Bienvenue sur Requiem for a noob, l'épicentre de l'eSport amateur en France !<br/><br/>
                Nous sommes passionnés par le jeu, l'esprit d'équipe et la compétition, et c'est cette passion qui nous a motivés à créer une plateforme unique dédiée aux amateurs d'eSport à travers tout le pays. En tant que développeur node.js, je me suis investi pour créer un espace dynamique et convivial où les joueurs de tous niveaux peuvent s'exprimer, s'améliorer et compétitionner.<br/><br/>
                <b>Ce que nous offrons :</b><br/><br/>
                <b>1. Tournois Palpitants :</b><br/> Participez à nos tournois réguliers dans une variété de jeux populaires. Affrontez d'autres équipes, démontrez vos compétences et remportez des récompenses exclusives.<br/><br/>
                <b>2. Gestion d'Équipes :</b><br/> Rejoignez ou créez votre propre équipe d'amateurs passionnés. Nous fournissons un cadre solide pour le développement des équipes, y compris des conseils d'entraînement, des ressources et un soutien continu.<br/><br/>
                <b>3. Communauté Active :</b><br/> Plongez dans une communauté vibrante d'amateurs d'eSport. Partagez des stratégies, échangez des astuces, et découvrez de nouveaux amis partageant la même passion.<br/><br/>
                <b>4. Actualités et Ressources :</b><br/> Restez à jour avec les dernières actualités de l'eSport, bénéficiez de conseils de professionnels et accédez à des ressources exclusives pour améliorer votre jeu.<br/><br/>
                Joignez-vous à nous dans cette aventure passionnante ! Que vous soyez un joueur solo cherchant à se connecter avec d'autres passionnés ou une équipe cherchant à élever son niveau de jeu, Requiem for a noob est l'endroit où vous appartenez.<br/><br/>
                Préparez-vous à vivre l'eSport à un tout autre niveau. Rejoignez-nous aujourd'hui et faites partie de la communauté qui façonne l'avenir de l'eSport amateur en France !<br/>                         
        </div>
        <div class="team fw-bold mt-5 pb-3 mb-5">
            <div class="wrapper">
                <div class="firstDiv">
                    <div class="ps-4">Equipes</div>
                    <div class="mt-3 gameLogo">
                        <a (click)="isLolTeamVisible = true" [ngStyle]="{'opacity' : isLolTeamVisible == true ? '1' : '0.5'}">
                            <img alt="Logo de League of Legends" [src]="lolLogoPath" class="lol-logo">
                        </a>
                    </div>     
                </div>
                <div class="mt-3" *ngIf="isLolTeamVisible">
                    <p-carousel [value]="teams" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="5000" styleClass="teamCarousel" [showIndicators]="false">
                        <ng-template let-teams pTemplate="item">
                            <p-card *ngIf="teams.display == 1" header="{{teams.name}}" styleClass="teamCardStyle">
                                <ng-template pTemplate="header">
                                    <img alt="Présentation des teams LoL" [src]="teams.logo" style="width: 100%;">
                                </ng-template> 
                                    <div>
                                        <b>Capitaine : </b>{{teams.captain}}<br/>
                                        {{teams.description}}
                                    </div>
                                <ng-template pTemplate="footer">
                                    <button pButton pRipple type="button" label="Découvrir la team" class="p-button-rounded p-button-secondary"></button>
                                </ng-template>
                            </p-card>
                        </ng-template>
                    </p-carousel>
                </div>
                <div class="mt-3" *ngIf="isLolTeamVisible == false">
                    <p-carousel [value]="tftplayers" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="5000" styleClass="teamCarousel" [showIndicators]="false">
                        <ng-template let-tftPlayers pTemplate="item">
                            <p-card header="{{tftPlayers.username}}" styleClass="teamCardStyle">
                                <ng-template pTemplate="header">
                                    <img alt="Présentation des joueurs TFT" [src]="tftPlayers">
                                </ng-template> 
                                    <p>{{tftPlayers.description}}</p>
                                <ng-template pTemplate="footer">
                                    <button pButton pRipple type="button" label="Découvrir le joueur" class="p-button-rounded p-button-secondary"></button>
                                </ng-template>
                            </p-card>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>  
        </div>  
    </div>
</div>