@font-face {
    font-family: "Friz Quadrata Regular";
    src: local("Friz Quadrata Regular"), url(./assets/fonts/FrizQuadrataRegular/FrizQuadrataRegular.ttf) format("truetype");
}

html{
    height: 100%;
    padding: 0;
    margin: 0;
}

.custom-bg-dark{
    background-color: #17161A;
}

.custom-dialog .p-dialog-header{
    width: 500px;
}

.custom-dialog .p-dialog-header {
    background-color: #fab710;
}

.custom-dialog2 .p-dialog-header{
    width: 1000px;
}

.custom-dialog2 .p-dialog-header {
    background-color: #fab710;
}

p-button.custom-button > button {
    text-transform: uppercase !important;
    background-color: #fab710;
    color: black;
    border: none;
    outline: none;
    font-weight: 500;
}

p-button.custom-button > button:hover {
    background-color: #e2ac21 !important;
    color: black !important;
}

p-button.danger-button > button {
    text-transform: uppercase !important;
    background-color: #c02929;
    color: white;
    border: none;
    outline: none;
    font-weight: 500;
}

p-button.danger-button > button:hover {
    background-color: #8d1e1e !important;
    color: white !important;
}