@font-face {
    font-family: "Friz Quadrata Regular";
    src: local("Friz Quadrata Regular"), url(./assets/fonts/FrizQuadrataRegular/FrizQuadrataRegular.ttf) format("truetype");
}

html{
    height: 100%;
    padding: 0;
    margin: 0;
}

.custom-bg-dark{
    background-color: #17161A;
}
.custom-dialog .p-dialog-header{
    width: 500px;
}

.custom-dialog .p-dialog-header {
    background-color: #fab710;
}