<div class="d-flex justify-content-between align-items-center mt-3">
    <h2 class="fw-bolder">Messagerie d'équipe</h2>
</div>
<hr class="title-line">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="users-box mt-3">
                <div class="d-flex">
                    <div *ngFor="let player of players">
                        <span class="mx-2"><i class="pi pi-circle-fill mx-2" [ngClass]="{ 'green-circle': isUserConnected(player.id), 'red-circle': !isUserConnected(player.id) }" ></i>{{ player.username }}</span>
                    </div>
                </div>
            </div>
            <hr class="title-line">
            <div class="chat-box">
                <div *ngFor="let message of messages" class="message-bubble" [ngClass]="{ 'my-message': message.user.id === userId }">
                    <div class="message-info">
                        <span class="user">{{ message.user.username }}</span>
                        <span class="datetime">{{ message.createdAt | date:'dd/MM/YYYY HH:mm:ss'}}</span>
                    </div>
                    <div class="text">{{ message.messageText }}</div>
                </div>
            </div>
            <div class="input-group message-box mt-2">
                <input type="text" class="form-control" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Ton message..."/>
                <div class="input-group-append mx-2">
                    <button class="btn btn-primary" type="button" (click)="sendMessage()">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
</div>
