.content {
    width: 100%;
    height: 72.8vh;
    margin-right: 200px;
}

:host ::ng-deep #p-tabpanel-0-label:focus {
    box-shadow: inset 0 0 0 0.2rem #fab710 !important;
}
:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: #fab710;
    border-color: #dfe2e6 !important;
}


:host ::ng-deep #p-tabpanel-1-label:focus {
    box-shadow: inset 0 0 0 0.2rem #fab710 !important;
}

:host ::ng-deep #p-tabpanel-2-label:focus {
    box-shadow: inset 0 0 0 0.2rem #fab710 !important;
}

:host ::ng-deep #p-tabpanel-3-label:focus {
    box-shadow: inset 0 0 0 0.2rem #fab710 !important;
}

:host ::ng-deep #p-tabpanel-4-label:focus {
    box-shadow: inset 0 0 0 0.2rem #fab710 !important;
}

:host ::ng-deep #p-tabpanel-5-label:focus {
    box-shadow: inset 0 0 0 0.2rem #fab710 !important;
}

:host ::ng-deep #p-tabpanel-6-label:focus {
    box-shadow: inset 0 0 0 0.2rem #fab710 !important;
}

:host ::ng-deep #p-tabpanel-7-label:focus {
    box-shadow: inset 0 0 0 0.2rem #fab710 !important;
}

:host ::ng-deep #p-tabpanel-8-label:focus {
    box-shadow: inset 0 0 0 0.2rem #fab710 !important;
}

:host ::ng-deep #p-tabpanel-9-label:focus {
    box-shadow: inset 0 0 0 0.2rem #fab710 !important;
}

:host ::ng-deep #p-tabpanel-10-label:focus {
    box-shadow: inset 0 0 0 0.2rem #fab710 !important;
}

@media screen and (max-height: 1000px) {
    .content {
        height: 85vh;
    }
}